{% extends "base.html" %}
{% block content %}
{{ super() }}


    <div class="row m-0">

        <div class="col-12 col-md-7" align="justify"
             style="padding: 3%; border-radius: 5%; color: #013580;
             font-size: 1.5vw; font-weight: 600;">
            <p id="h2_hello" style="font-size: 2vw;">Добро пожаловать в личный кабинет</p>
            <p>
                Здесь Вы можете выбрать несколько способов изучения английской лексики:

                <div class="alert alert-success">
                    Самостоятельным повторением
                </div>
                <div class="alert alert-success">
                    С помощью автоматизированной системы интервальных повторений
                </div>

                Второй способ намного удобнее и продуктивнее,
                так как Вы сможете надолго закрепить в памяти
                изученный материал
        </div>

        <!--ACCORDION-->
        <div class="col-12 col-md-5 pr-0">
            <div id="accordion"
                 style="border: solid #9CB6D5; padding: 1%; border-radius: 5%;
                 background-color: #0D3A5B; color: #D6D3C9;">

                <div class="card"
                   style="background-color: #0D3A5B; color: white;">
                  <div class="card-header" id="headingOne">
                  <div class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne"
                    style="font-size: 1.5vw; font-weight: 600;
                    color: white;">
                        Повторнеие английской лексики
                    </button>
                  </div>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body" align="justify"
                  style="border-radius: 2%; color: #00282E;
                  font-weight: 600; background-color: #C0E1F9; font-size: 1.2vw;">
                    Выбирайте самостоятельно скорость изучения слов. В Вашем распоряжении онлайн переводчик.
                      Более того, переведенные слова будут заноситься в словарь. Таким образом Вы сможете
                      периодически повторять те слова, перевод которых Вам понадобился.
                  <a href="{{ url_for('voc.user_voc') }}"
                   class="btn btn-success btn-block" role="button" aria-pressed="true"
                  style="font-size: 1.5vw;">
                      Словарь</a>
                  </div>
                </div>
                </div>

                <div class="card"
                   style="background-color: #0D3A5B; color: #FFFFFF;">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                    style="font-size: 1.5vw; font-weight: 600; color: #D0C4B8;">
                      интервальное повторение слов
                    </button>
                  </h5>
                </div>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion"
                style="border-radius: 1.5%; color: #00282E; font-weight: 600;
                background-color: #C0E1F9; font-size: 1.2vw;">
                  <div class="card-body" align="justify">
                    Изучайте язык с помощью системы интервальных повторений. Она нацелена на более
                      глубокое изучение лексики благодаря повторениям слов в определенные периоды времени
                      именно тогда, когда Ваш мозг считает нужным стереть неиспользуемую информацию.
                      При таком подходе такое повторение позволит Вам крепко усвоить изученные слова.
                  <a href="{{ url_for('ir_voc.user_voc') }}"
                   class="btn btn-success btn-block" role="button" aria-pressed="true"
                  style="font-size: 1.5vw;">
                      Словарь с интервальными повторениями</a>
                  </div>
                </div>

                </div>


                <div class="card"
                       style="background-color: #0D3A5B; color: #FFFFFF;">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree"
                        style="font-size: 1.5vw; font-weight: 600; color: #D0C4B8; white-space: normal;">
                          Интервальное повторение фразовых глаголов
                        </button>
                      </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion"
                    style="border-radius: 2%; color: #00282E; font-weight: 600;
                    background-color: #C0E1F9; font-size: 1.2vw;">
                      <div class="card-body" align="justify">
                        Изучайте фразовые глаголы с помощью системы интервальных повторений.
                      <a href="{{ url_for('phrasal_verbs_voc_ir.user_voc') }}"
                       class="btn btn-success btn-block" role="button" aria-pressed="true"
                      style="font-size: 1.5vw;">
                          Словарь с интервальными повторениями</a>
                      </div>
                    </div>

                  </div>
            </div>
        </div>
        <!--END OF ACCORDION-->
    </div>
{% endblock %}

