{% extends "bootstrap/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<h1>Here is result {{ result }}</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-success">col2</div></div>
                <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-success">col2</div></div>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1</div></div>
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1</div></div>
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1</div></div>
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1</div></div>
        <div class="col-lg-4 col-md-6 col-sm-12"><div class="panel panel-primary">col1</div></div>
        <div class="col">col3</div>
        <div class="col">col3</div>
        <div class="w-100"></div>
        <div class="col">col3</div>
        <div class="col">col3</div>
    </div>
</div>
{% endblock %}