{% extends "base.html" %}
{% block app_content %}
    <div class="row">
        <div class="col" style="color: #013580; font-weight: 600; font-size: 18px;">
            <a href="{{ url_for('janki_voc', login=login) }}"
                class="btn btn-secondary m-2 btn-lg" role="button" aria-pressed="true">Назад к переводчику
            </a>

<!--ТАБЛИЦА ДЛЯ ВСЕХ СЛОВ С ПАГИНАЦИЕЙ-->
            {% if pag_obj_all %}
            <table class="table table-striped">

                  <thead>
                    <tr>
                      <th scope="col">Номер</th>
                      <th scope="col">Слово</th>
                      <th scope="col">
                          <a style="width: 150px;" href="{{ url_for('show_user_janki_voc', login=login,
                          page_num=pag_obj_all.page, translate_button=1) }}"
                            class="btn btn-info mt-2" role="button" aria-pressed="true">Перевод</a>
                      </th>
                      <th scope="col">Время до повторения</th>
                    </tr>
                  </thead>

                  <tbody>
                        {% for (j,i) in enumerate(pag_obj_all.items, 1) %}
                            <tr>
                              <td>{{ j }}</td>
                              <td>{{ i.word }}</td>
                            {% if show_translation %}
                                <td>{{ i.translation }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                              <td>{% if i.time_to_repeat < 0 %} Пропущен
                                  {% else %} Осталось
                                  {% endif %}

                                    {% if seconds_to_string(i.time_to_repeat) %}
                                        {{ seconds_to_string(i.time_to_repeat) }}
                                    {% endif %}

                              </td>
                            </tr>
                        {% endfor %}

                  </tbody>

            </table>
            {% endif %}
            <div class="row pl-4">
            {% if pag_obj_all %}
               <nav aria-label="Page navigation example">
                      <ul class="pagination">
                          {% for page in pag_obj_all.iter_pages(left_edge=3, right_edge=3,
                          left_current=3, right_current=3) %}
                              {% if page %}
                                <li class="page-item" >
                                    <a class="page-link"
                                       href="{{ url_for('show_user_janki_voc', login=login, page_num=page, translate_button=2) }}">{{page}}
                                    </a>
                                </li>
                              {% else %}
                               ....
                              {% endif %}
                          {% endfor %}
                      </ul>
                </nav>
            {% endif %}

            </div>
<!--КОНЕЦ ТАБЛИЦЫ ВСЕХ СЛОВ-->



        </div>
    </div>
{% endblock %}