{% extends "base.html" %}
{% block body %}
{% if word %}
<h2>Welcome here! Check your knowledge right now.<br>
Now we will know how hardy you learned English!</h2>
<p>
<h3>{{ word[0][0] }}</h3>
    <form method="post" action="{{ url_for('check_word', login=login) }}">
        <input type="text" name="translation"><br>
        <input type="hidden" name="right_answer" value="{{ word[0][1] }}">
        <input type="hidden" name="english_word" value="{{ word[0][0] }}">
    <button type="submit">Check</button>
    </form>
{% else %}
<h3>
    You have not words to pass the test.<br>
    Add them to your vocabulary.
</h3>
{% endif %}
{% endblock %}
