{% extends "base.html" %}
{% block content %}
{{ super() }}

    {% if near_words_pagin_obj %}
    <h3 class="ml-2" style="color: blue;">Эти слова следует повторить как можно быстрее.</h3>
    <h3 class="ml-2" style="color: blue;">Лучше всего использовать для этого тест</h3>

    {% elif missing_words_pagin_obj %}
    <h3 class="ml-2" style="color: blue;">Вы пропустили опрос этих слов.</h3>
    <h3 class="ml-2" style="color: blue;">Пройдите как можно быстрее опрос, чтобы сохранить прогресс изучения</h3>

    {% elif lost_words_pagin_obj %}
    <h3 class="ml-2" style="color: blue;">Вы пропустили опрос этих слов более 1 дня назад</h3>
    <h3 class="ml-2" style="color: blue;">Прогресс их изучения обнулен. Их повторение начнется
        <a style="width: 100px;" href="{{ url_for('ir_voc.drop_down_progress',
        page_num=lost_words_pagin_obj.page) }}"
        class="btn btn-info" role="button" aria-pressed="true">заново
        </a>
    </h3>

    {% elif learned_words_pagin_obj %}
    <h3 class="ml-2" style="color: blue;">Вы полностью прошли курсизучения этих слов.</h3>

    {% endif %}

    <a style="width: 150px;" href="{{ url_for('ir_voc.user_voc') }}"
    class="btn btn-success mt-2" role="button" aria-pressed="true">К переводчику
    </a>
<!--NEAR WORDS-->
{% if near_words_pagin_obj %}
    <div class="p-3">
        <div class="row pt-3">
            <div class="col"
                 style="color: #013580; font-weight: 600; font-size: 18px;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Номер п/п</th>
                      <th scope="col">Слово</th>
                      <th scope="col">
                      {% if translation_available == 0 %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_near_words',
                        page_num=near_words_pagin_obj.page, translation_available=1) }}"
                        class="btn btn-info mt-2" role="button" aria-pressed="true">Перевод
                      </a>
                      {% else %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_near_words',
                        page_num=near_words_pagin_obj.page, translation_available=0) }}"
                        class="btn btn-success mt-2" role="button" aria-pressed="true">Скрыть перевод
                      </a>
                      {% endif %}
                      </th>
                        <th scope="col">Время</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for i in near_words_pagin_obj.items %}
                    <tr>
                      <th scope="row">{{ near_words_pagin_obj.items.index(i)+1 }}</th>
                      <td>{{ i.vocabulary.word }}</td>
                        <td>
                        {% if translation_available %}
                            {{ i.vocabulary.translation }}
                        {% endif %}
                        </td>
                        <td> Осталось {{ seconds_to_string(i.time_to_repeat) }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% for page in near_words_pagin_obj.iter_pages(left_edge=3, right_edge=3,
                        left_current=3, right_current=3) %}
                            {% if page %}
                                <li class="page-item" >
                                    <a class="page-link"
                                       href="{{ url_for('ir_voc.show_near_words', page_num=page,
                                       translation_available=translation_available) }}">{{page}}
                                    </a>
                                </li>
                            {% else %}
                                ....
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endif %}
<!--END OF NEAR_WORDS-->

<!--MISSING_WORDS-->
{% if missing_words_pagin_obj %}
    <div class="p-3">
        <div class="row pt-3">
            <div class="col" style="color: #013580; font-weight: 600; font-size: 18px;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Номер п/п</th>
                      <th scope="col">Слово</th>
                      <th scope="col">
                      {% if translation_available == 0 %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_missing_words',
                        page_num=missing_words_pagin_obj.page, translation_available=1) }}"
                        class="btn btn-info mt-2" role="button" aria-pressed="true">Перевод
                      </a>
                      {% else %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_missing_words',
                        page_num=missing_words_pagin_obj.page, translation_available=0) }}"
                        class="btn btn-success mt-2" role="button" aria-pressed="true">Скрыть перевод
                      </a>
                      {% endif %}
                        <th>Время</th>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for i in missing_words_pagin_obj.items %}
                    <tr>
                      <th scope="row">{{ missing_words_pagin_obj.items.index(i)+1 }}</th>
                      <td>{{ i.vocabulary.word }}</td>
                        <td>
                        {% if translation_available %}
                            {{ i.vocabulary.translation }}
                        {% endif %}
                        </td>
                        <td> Пропущен {{ seconds_to_string(abs(i.time_to_repeat)) }} назад</td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% for page in missing_words_pagin_obj.iter_pages(left_edge=3, right_edge=3,
                        left_current=3, right_current=3) %}
                            {% if page %}
                                <li class="page-item" >
                                    <a class="page-link"
                                       href="{{ url_for('ir_voc.show_missing_words', page_num=page,
                                       translation_available=translation_available) }}">{{page}}
                                    </a>
                                </li>
                            {% else %}
                                ....
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endif %}
<!--END OF MISSING WORDS-->

<!--LOST WORDS-->
{% if lost_words_pagin_obj %}
    <div class="p-3">
        <div class="row pt-3">
            <div class="col" style="color: #013580; font-weight: 600; font-size: 18px;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Номер п/п</th>
                      <th scope="col">Слово</th>
                      <th scope="col">
                      {% if translation_available == 0 %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_lost_words',
                        page_num=lost_words_pagin_obj.page, translation_available=1) }}"
                        class="btn btn-info mt-2" role="button" aria-pressed="true">Перевод
                      </a>
                      {% else %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_lost_words',
                        page_num=lost_words_pagin_obj.page, translation_available=0) }}"
                        class="btn btn-success mt-2" role="button" aria-pressed="true">Скрыть перевод
                      </a>
                      {% endif %}
                      </th>
                        <th scope="col">Время</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for i in lost_words_pagin_obj.items %}
                    <tr>
                      <th scope="row">{{ lost_words_pagin_obj.items.index(i)+1 }}</th>
                      <td>{{ i.vocabulary.word }}</td>
                        <td>
                        {% if translation_available %}
                            {{ i.vocabulary.translation }}
                        {% endif %}
                        </td>
                        <td> пропущен {{ seconds_to_string(abs(i.time_to_repeat)) }} назад</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% for page in lost_words_pagin_obj.iter_pages(left_edge=3, right_edge=3,
                        left_current=3, right_current=3) %}
                            {% if page %}
                                <li class="page-item" >
                                    <a class="page-link"
                                       href="{{ url_for('ir_voc.show_lost_words', page_num=page,
                                       translation_available=translation_available) }}">{{page}}
                                    </a>
                                </li>
                            {% else %}
                                ....
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endif %}
<!--END OF LOST WORDS-->


<!--LEARNED WORDS-->
{% if learned_words_pagin_obj %}
    <div class="p-3">
        <div class="row pt-3">
            <div class="col" style="color: #013580; font-weight: 600; font-size: 18px;">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Номер п/п</th>
                      <th scope="col">Слово</th>
                      <th scope="col">
                      {% if translation_available == 0 %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_learned_words',
                        page_num=learned_words_pagin_obj.page, translation_available=1) }}"
                        class="btn btn-info mt-2" role="button" aria-pressed="true">Перевод
                      </a>
                      {% else %}
                      <a style="width: 150px;" href="{{ url_for('ir_voc.show_learned_words',
                        page_num=learned_words_pagin_obj.page, translation_available=0) }}"
                        class="btn btn-success mt-2" role="button" aria-pressed="true">Скрыть перевод
                      </a>
                      {% endif %}
                      </th>
                        <th scope="col">Время</th>
                    </tr>
                  </thead>

                  <tbody>
                  {% for i in learned_words_pagin_obj.items %}
                    <tr>
                      <th scope="row">{{ learned_words_pagin_obj.items.index(i)+1 }}</th>
                      <td>{{ i.vocabulary.word }}</td>
                        <td>
                        {% if translation_available %}
                            {{ i.vocabulary.translation }}
                        {% endif %}
                        </td>
                        <td> добавлено {{ (i.addition_time) }} </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% for page in learned_words_pagin_obj.iter_pages(left_edge=3, right_edge=3,
                        left_current=3, right_current=3) %}
                            {% if page %}
                                <li class="page-item" >
                                    <a class="page-link"
                                       href="{{ url_for('ir_voc.show_learned_words', page_num=page,
                                       translation_available=translation_available) }}">{{page}}
                                    </a>
                                </li>
                            {% else %}
                                ....
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>

            </div>
        </div>
    </div>
{% endif %}
<!--END OF LEARNED WORDS-->

{% endblock %}