
    <!--Скрипт, который запускает модальное окно-->
    {% block scripts %}
        {{ super() }}
            {% if modal_translate %}
                <script>
                    $(document).ready(function(){
                        $("#modal_vocabulary").modal("show");
                    });
                </script>
            {% endif %}
    {% endblock %}


<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


<!--modal window for vocabulary-->
<div id="modal_vocabulary" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="p-3">

                <div class="row">
                    <div class="col">
                        <form method="post" action="{{url_for('search_word_vocabulary_ir', login=login, page_num=1)}}" >
                            <div class="form-group">
                                <label for="search_word_vocabulary_ir" style="color: #8EA3C1">Введите слово</label>
                                <input name="word_from_vocabulary_ir" type="text" id="search_word_vocabulary_ir" class="form-control" placeholder="Word">
                            </div>
                            <button type="submit" class="btn btn-info">Submit</button>
                        </form>
                    </div>
                    <div class="col">
                        <div>
                        Перевод
                        </div>
                        <div class="w-100">
                        </div>
                        <div class="alert alert-primary" role="alert">
                            {{ modal_translate }}
                        </div>

                    </div>
                    <div class="w-100">
                    </div>
                        <div class="col" style="color: #013580;">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th scope="col">Number</th>
                                  <th scope="col">Word</th>
                                  <th scope="col">Translate</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for i in pagin_object.items %}
                                <tr>
                                  <th scope="row">{{ pagin_object.items.index(i)+1 }}</th>
                                  <td>{{ i.word }}</td>
                                  <td>{{ i.translation }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                        </div>
                    <!--<div class="col-2">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
      </div>
</div>

##  FROM USER_VOC.HTML
 <div class="col">
             <a style="width: 150px;" href="{{ url_for('show_user_voc', login=login, page_num=1) }}"
                   class="btn btn-info mt-2" role="button" aria-pressed="true">Словарь</a>
            </div>

{% block scripts %}
    {{ super() }}
        {% if pagin_object %}
            <script>
                $(document).ready(function(){
                    $("#modal_vocabulary").modal("show");
                } );
            </script>
        {% endif %}
{% endblock %}


## MODAL WINDOW FOR VOCABULARY
<div id="modal_vocabulary" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        {% if pagin_object %}
                        <div class="p-3">
                            <div class="row">
                                <div class="col">
                                    <form method="post" action="{{url_for('search_word_vocabulary', login=login, page_num=pagin_object.page)}}" >
                                        <div class="form-group">
                                            <label for="search_word_vocabulary" style="color: #8EA3C1">Введите слово</label>
                                            <input name="word_from_vocabulary" type="text" id="search_word_vocabulary" class="form-control" placeholder="Word">
                                        </div>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col">
                                    <div>
                                    </div>
                                    <div class="w-100">
                                    </div>
                                    <div class="alert alert-primary" role="alert">
                                        {{ word }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div>
                                    </div>
                                    <div class="w-100">
                                    </div>
                                    <div class="alert alert-primary" role="alert">
                                        {{ modal_translate }}
                                    </div>
                                </div>
                                <div class="w-100">
                                </div>
                                    <div class="col" style="color: #013580;">
                                        <table class="table table-striped">
                                          <thead>
                                            <tr>
                                              <th scope="col">Number</th>
                                              <th scope="col">Word</th>
                                              <th scope="col">Translate</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for i in pagin_object.items %}
                                            <tr>
                                              <th scope="row">{{ pagin_object.items.index(i)+1 }}</th>
                                              <td>{{ i.word }}</td>
                                              <td>{{ i.translation }}</td>
                                            </tr>
                                            {% endfor %}
                                          </tbody>
                                        </table>
                                        <nav aria-label="Page navigation example">
                                          <ul class="pagination">
                                              {% for page in pagin_object.iter_pages(left_edge=3, right_edge=3,
                                              left_current=3, right_current=3) %}
                                                  {% if page %}
                                                    <li class="page-item" >
                                                        <a class="page-link"
                                                           href="{{ url_for('show_user_voc', login=login, page_num=page) }}">{{page}}
                                                        </a>
                                                    </li>
                                                  {% else %}
                                                   ....
                                                  {% endif %}
                                              {% endfor %}
                                          </ul>
                                        </nav>
                                    </div>
                                <!--<div class="col-2">-->
                                <!--</div>-->
                            </div>
                        </div>
                        {% endif %}
                    </div>
                  </div>
</div>

